{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const labels = document.querySelectorAll('label');
            labels.forEach((label) => {
            const labelText = label.textContent;
            const modifiedText = labelText.replace(':', '');
                label.textContent = modifiedText;
            });
        });
    </script>
{% endblock %}
{% block content %}
{% load static %}
<script>
    $(function () {
    
        $(".datetimepicker-input").datepicker({ 
            lang: "ko",
            dateFormat: "yy-mm-dd" ,
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: '년'
        });
    });
</script>
<div class="title-style1">
            <div>
        <strong>교육 등록</strong>
    </div>
</div>
<div class="layout-center">
    <div class="form-style1">
        <form action="" method="post">
            {% csrf_token %}
            <div class="box">
                <ul>
                    <li>
                        <label for="programs">교육명</label>
                        <select name="program" id="programs" class="select1 w100">
                            {% for program in programs %}
                                <option value="{{program.id}}">{{program.title}}</option>
                            {% endfor %}
                        </select>
                    </li>
                    {{eventForm.as_ul}}
                </ul>
                <!-- <input type="submit"> -->
            </div>
            <div class="bt-wrap">
                <input type="hidden" value="{{event.id}}" name="event_id"/>
                <input type="submit" value="교육 등록" class="bt1 on">
                <a href="#" onClick="history.back()" class="bt1">이전 페이지로 이동</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}