{% extends 'base.html' %}

{% block content %}
<script>
$(function () {
    $(".datetimepicker-input").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<div class="title-style1">
    <div class="layout-center">
        <strong>교육 생성</strong>
    </div>
</div>
<div class="layout-center">
    <div class="form-style1">
        <form action="" method="post">
            {% csrf_token %}
            <div class="box">
                <ul>
                    {{eventForm.as_ul}}
                </ul>
                <input type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}