{% extends 'base.html' %}

{% block content %}
<script>
    $(function () {
    
        $(".datetimepicker-input").datepicker({ 
            lang: "ko",
            dateFormat: "yy-mm-dd" ,
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: '년'
        });
    });
</script>
<div class="title-style1">
    <div class="layout-center">
        <strong>교육 생성</strong>
    </div>
</div>
<div class="layout-center">
    <div class="form-style1">
        <form action="" method="post">
            {% csrf_token %}
            <div class="box">
                <ul>
                    <label for="programs">프로그램</label>
                    <li>
                        <select name="program" id="programs">
                            {% for program in programs %}
                                <option value="{{program.id}}">{{program.title}}</option>
                            {% endfor %}
                        </select>
                    </li>
                    {{eventForm.as_ul}}
                </ul>
                <input type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}