{% extends 'base.html' %}
{% block extrahead %}
<script type="text/javascript">
    
    $("submit").on("click", function() {
        if (confirm('입력하신 정보대로 수정하시겠습니까?') == true){
            document.getElementById("updateForm").submit()
        } else {
            return false;
        }
    });
    
    $(function () {
        
        $(".datetimepicker-input").datepicker({ 
            lang: "ko",
            dateFormat: "yy-mm-dd" ,
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: '년'
        });
    });
</script>
{% endblock %}
{% block content %}

<div id="containerWrap">
    <div class="title-style1">
        <div class="layout-center">
            <strong>교육 수정</strong>
        </div>
    </div>
    <div class="layout-center">
        <div class="form-style1">
            <form method="post" id="updateForm" action="{% url 'reservations:eventUpdate' event.id%}">
                {% csrf_token %}
                <div class="box">
                    <ul>
                        <li>
                            <label for="programs">교육명</label>
                            <select name="program" id="programs" class="select1 w100">
                                {% for program in programs %}
                                    <option value="{{program.id}}">{{program.title}}</option>
                                {% endfor %}
                            </select>
                        </li>
                        {% for field in form %}
                            {% if field.html_name == 'start_date' or field.html_name == 'finish_date' or field.html_name == 'apply_start' or field.html_name == 'deadline'%}
                            <li>
                                {{field.label}}
                                {{field }}
                                {{field.errors}}    
                            </li>
                            {% elif field.html_name == 'user'%}
                                <input type="hidden" name="user" value="{{user.id}}"/>
                            {% else %}
                            <li>
                                {{field.label}}
                                {{field}}
                                {{field.errors}}
                            </li>
                            {% endif %}
                        {% endfor%}
                    </ul>
                </div>
                <div class="bt-wrap">
                    <input type="hidden" value="{{event.id}}" name="event_id"/>
                    <input type="submit" value="교육 수정" class="bt1 on">
                    <a href="#" onClick="history.back()" class="bt1">이전 페이지로 이동</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
