{% extends 'base.html' %}
<head>
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{%static 'reservations/css/event.css'%}"/>
    <link rel="stylesheet" href="{%static 'reservations/css/paging.css'%}"/>
    <script src="{%static 'reservations/js/event.js'%}"></script>
    <style>
        #dialog{
            background-color: red;
        }
    </style>
    {% endblock %}
</head>
{% block content %}
<div id="containerWrap">
    <div class="title-style1">
        <div>
            <strong>교육 관리</strong>
        </div>
    </div>
    <div class="layout-center">
        <div class="tbl-wrap scroll">
            <div>
                <form>
                    <table class="tbl1">
                        <thead>
                            <tr>
                                <th>교육명</th>
                                <th>교육기간</th>
                                <th>운영일수</th>
                                <th>모집인원</th>
                                <th>접수기간</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in event_list %}
                            <tr data-value={{item.id}}>
                                <td>
                                    <a href="{% url 'reservations:eventDetail' item.id %}">
                                        {{ item.program.title }}
                                    </a>
                                </td>
                                <td>
                                    {{item.start_date | date:'Y-m-d'}} 
                                    ~ 
                                    {{item.finish_date | date:'Y-m-d'}} 
                                </td>
                                <td>{{item.period}}</td>
                                <td>{{item.capacity}}</td>
                                <td>
                                    {{item.apply_start | date:'Y-m-d'}} 
                                    ~ 
                                    {{item.deadline | date:'Y-m-d'}} 
                                </td>
                                <td>
                                    
                                    <a href="{% url 'reservations:eventUpdate' item.id %}" class="bt2">
                                        수정
                                    </a>
                                </td>
                                <td>
                                    <a class="event-delete bt2" onclick="javascript:deleteEvent({{item.id}})" href="javascript:void(0);">
                                        삭제
                                    </a>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="page-wrap">
                    {% if page_obj.has_previous %}
                        <a href="javascript:void(0);" onclick="javascript:page('{{page_obj.previous_page_number}}')" class="page-bt prev"><img src="/static/reservations/img/page-prev.png" alt="이전"></a>
                    {% endif %}

                    {% for index in pagelist %}
                        {% if index == page_obj.number %}
                            <li class="page-item active">
                                <span class="page-link">{{index}}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{index}}">{{index}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}" class="page-bt next"><img src="/static/reservations/img/page-next.png" alt="다음"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bt-wrap">
            <a href="{% url 'reservations:eventCreate' %}" class="bt1 on">교육 등록</a>
        </div>
    </div>
</div>
{% endblock %}