{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>교육 리스트</strong>
            </div>
        </div>
        <div class="layout-center">
            <div class="tbl-wrap scroll">
                <div>
                    <a href="?enabled=1">접수중</a>
                    <a href="{% url 'reservations:event' %}">모두보기</a>
                    
                    <select name="year">
                        {% for year in year_list%}
                        <option value="{{year}}" {% if cur_year == year %} selected {% endif %}>
                            {{year}}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="month">
                        {% for month in month_list%}
                        <option value="{{month}}" {% if cur_month == month %} selected {% endif %}>
                            {{month}}
                        </option>
                        {% endfor %}
                    </select>
                    
                    <form>
                        
                        <table class="tbl1">
                            <thead>
                                <tr>
                                    <th>기간</th>
                                    <th>접수기간</th>
                                    <th>교육명</th>
                                    <th>운영일수</th>
                                    <th>모집인원</th>
                                    <th>상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in event_list %}
                                <tr>
                                    
                                    <td>
                                        {{item.start_date | date:'Y-m-d'}} 
                                        ~ 
                                        {{item.finish_date | date:'Y-m-d'}} 
                                    </td>
                                    <td>
                                        {{item.apply_start | date:'Y-m-d'}} 
                                        ~ 
                                        {{item.deadline | date:'Y-m-d'}} 
                                    </td>
                                    <td>
                                        <a href="{% url 'reservations:applyForm' item.id %}">
                                            {{ item.program.title }}
                                        </a>
                                    </td>
                                    <td>
                                        {{item.period}}
                                    </td>
                                    <td>
                                        {{item.capacity}}
                                    </td>
                                    <td>
                                        {% if item.apply_start <= today_date and item.deadline >= today_date%}
                                        접수중
                                        {% elif item.apply_start > today_date %}
                                        접수대기
                                        {% elif item.deadline < today_date%}
                                        접수마감
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            {% comment %}
            <div class="bt-wrap">
                <a href="#" onclick="javascript:alert('선택된 항목이 없습니다.');" class="bt1">신청 취소</a>
            </div>
            {% endcomment %}
            <p class="text-center">
                <h5>
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Prev</a>
                    {% endif %}

                    {% for index in pagelist %}
                        {% if index == page_obj.number %}
                            <li class="page-item active">
                                <span class="page-link">{{index}}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{index}}">{{index}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                    {% endif %}
                </h5>
            </p>
        </div>
    </div>    
{% endblock %}