{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <script src="{%static 'reservations/js/class.js'%}"></script>
    <link rel="stylesheet" href="{%static 'reservations/css/paging.css'%}"/>
    <style>

    </style>
{% endblock %}
{% block content %}
    
    <div id="containerWrap">
        <div class="title-style1">
            <div>
                <strong>교육 리스트</strong>
            </div>
        </div>
        <div class="layout-center">
            <form id="eduList">
                <div class="apply-list-top">
                    <div class="total">총 {{total}}건</div>
                    <div class="month-select">
                        <select name="year" class="search_option select2">
                            <option value="">연도</option>
                            {% for year in year_list%}
                                {% if cur_year == year %}
                                    <option value="{{year}}" selected>
                                        {{year}}
                                    </option>
                                {% else %}
                                    <option value="{{year}}">
                                        {{year}}
                                    </option>                            
                                {% endif %}
                            {% endfor %}
                        </select>
                        <span>년</span>
                        <select name="month" class="search_option select2">
                            <option value="">월</option>
                            {% for month in month_list%}
                                {% if cur_month == month %} 
                                    <option value="{{month}}" selected >
                                        {{month}}
                                    </option>
                                {% else %}
                                    <option value="{{month}}" >
                                        {{month}}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <span>월</span>
                    </div>
                    <div class="apply-select">
                        <select name="enabled" class="search_option select1">
                            {% for key, val in show_list.items %}
                                {% if enabled == key %}
                                <option value="{{key}}" selected>{{val}}</option>
                                {% else %}
                                <option value="{{key}}" >{{val}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="tbl-wrap scroll">
                    <table class="tbl1">
                        <thead>
                            <tr>
                                <th>교육명</th>
                                <th>교육기간</th>
                                <th>운영일수</th>
                                <th>모집인원</th>
                                <th>접수기간</th>
                                <th>접수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in event_list %}
                            <tr>
                                <td>
                                    {{ item.program.title }}
                                </td>
                                <td>
                                    {{item.start_date | date:'Y-m-d'}} 
                                    ~ 
                                    {{item.finish_date | date:'Y-m-d'}} 
                                </td>
                                <td>
                                    {{item.period}}일
                                </td>
                                <td>
                                    {{item.capacity}}명
                                </td>
                                <td>
                                    {{item.apply_start | date:'Y-m-d'}} 
                                    ~ 
                                    {{item.deadline | date:'Y-m-d'}} 
                                </td>
                                <td>
                                    {% if item.apply_start <= today_date and item.deadline >= today_date%}
                                    <a href="{% url 'reservations:applyForm' item.id %}" class="bt2 on">접수하기</a>
                                    {% elif item.apply_start > today_date %}
                                    접수대기
                                    {% elif item.deadline < today_date%}
                                    마감
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>

            {% comment %}
            <div class="bt-wrap">
                <a href="#" onclick="javascript:alert('선택된 항목이 없습니다.');" class="bt1">신청 취소</a>
            </div>
            {% endcomment %}
            
            <div class="page-wrap">
                <a href="javascript:void(0);" onclick="javascript:page('1')" class="page-bt prev"><img src="/static/reservations/img/page-prev.png" alt="처음"></a>
                {% if page_obj.has_previous %}
                    <a href="javascript:void(0);" onclick="javascript:page('{{page_obj.previous_page_number}}')" class="page-bt prev"><img src="/static/reservations/img/page-prev.png" alt="이전"></a>
                {% endif %}

                {% for index in pagelist %}
                    {% if index == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{index}}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" onclick="javascript:page('{{index}}')">{{index}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="page-bt next"><img src="/static/reservations/img/page-next.png" alt="다음"></a>
                {% endif %}
                <a href="javascript:void(0);" onclick="javascript:page('{{num_pages}}')" class="page-bt next"><img src="/static/reservations/img/page-next.png" alt="마지막"></a>
            </div>
        </div>
    </div>    
{% endblock %}