{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'reservations/js/apply.js' %}"></script>
    <link rel="stylesheet" href="{%static 'reservations/css/paging.css'%}"/>
    <style>
        
    </style>
{% endblock %}
{% block content %}
    
    <div id="containerWrap">
        <div class="title-style1">
            <div>
                <strong>교육 신청내역</strong>
            </div>
        </div>
        <div class="layout-center">
            <form>
                <div class="title-box mt-0">
                    <strong>교육 정보</strong>
                </div>
                <div class="tbl-wrap scroll">
                    <table class="tbl1 type2">
                        <colgroup>
                            <col width="15%">
                            <col width="35%">
                            <col width="15%">
                            <col width="35%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>교육명</th>
                                <td>{{event.program.title}}</td>
                                <th>교육기간</th>
                                <td>{{event.start_date}} ~ {{event.finish_date}}</td>
                            </tr>
                            <tr>
                                <th>운영일수</th>
                                <td>{{event.period}} 일</td>
                                <th>모집인원</th>
                                <td>{{event.capacity}} 명</td>
                            </tr>
                            <tr>
                                <th>접수기간</th>
                                <td>{{event.apply_start | date:"Y년 m월 d일"}} ~ {{event.deadline | date:"Y년 m월 d일"}}</td>
                                <th>접수인원</th>
                                <td></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
                <div class="title-box">
                    <strong>모집내용</strong>
                </div>
                <div class="tbl-wrap scroll">
                    <div>
                        <table class="tbl1">
                            <thead>
                                <tr>
                                    <th>신청일시</th>
                                    <th>학교명</th>
                                    <th>학년</th>
                                    <th>학급수</th>
                                    <th>신청인원</th>
                                    <th>전화번호</th>
                                    <th>확정 유/무</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for application in applications %}
                                <tr>
                                    <td>{{application.create_date}}</td>
                                    <td>{{application.school}}</td>
                                    <td>
                                        {{application.grade.tgrade}}
                                    </td>
                                    <td>
                                        {{application.students}}
                                    </td>
                                    <td>
                                        {{application.numOfClasses}}
                                    </td>
                                    <td>
                                        {{application.phone_number}}
                                    </td>
                                    <td>
                                        {% if application.confirmed %}
                                            확정
                                        {% else %}
                                            미확정
                                        {% endif %}
                                        <p>
                                            <a href="{% url 'reservations:applicationConfirm' application.id %}" class="bt2">
                                                {% if user.is_authenticated and application.confirmed == False%}
                                                    확정처리
                                                {% elif user.is_authenticated %}
                                                    확정취소
                                                {% endif %}
                                            </a>
                                        </p>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="bt-wrap">
                    <a href="/reservation/event/manage/" class="bt1 on">목록</a>
                </div>
            </form>
            {% comment %}
            <div class="bt-wrap">
                <a href="#" onclick="javascript:alert('선택된 항목이 없습니다.');" class="bt1">신청 취소</a>
            </div>
            {% endcomment %}
        </div>
    </div>    
{% endblock %}    