{% extends 'base.html' %}

{% block content %}
<div id="containerWrap">
    <div class="title-style1">
        <div class="layout-center">
            <strong>교육</strong>
        </div>
    </div>
    <div class="layout-center">
        {% for label, value in event.get_fields %}
            <p>
                {{label}} : {{value}}
            </p>
        {% endfor %}
        {% if event.user.id == user.id %}
            <a href="{% url 'reservations:eventUpdate' event.id %}"/>수정</a>
            <a href="{% url 'reservations:eventDelete' event.id %}"/>삭제</a>
        {% endif %}
    </div>
</div>
{% endblock %}