{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'reservations/js/apply.js' %}"></script>
    <link rel="stylesheet" href="{%static 'reservations/css/paging.css'%}"/>
    <style>
        
    </style>
{% endblock %}
{% block content %}
    
    <div id="containerWrap">
        <div class="title-style1">
            <div>
                <strong>교육 신청내역</strong>
            </div>
        </div>
        <div class="layout-center">
            <form>
                <div class="search-box">
                    {{form.phone_number}}
                    <input type="button" value="검색" onclick="javascript:searchList(this);">
                </div>
                <div class="tbl-wrap scroll">
                    <div>
                        <table class="tbl1">
                            <thead>
                                <tr>
                                    <th>교육명</th>
                                    <th>교육기간</th>
                                    <th>운영일수</th>
                                    <th>신청인원</th>
                                    <th>신청일시</th>
                                    <th>확정 유/무</th>
                                    <th>수정</th>
                                    <th>취소</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in apply_list %}
                                <tr>
                                    <td>
                                        {{application.event.program.title}}
                                    </td>
                                    <td>
                                        {{application.event.start_date}}
                                        ~
                                        {{application.event.finish_date}}
                                    </td>
                                    <td>{{application.event.period}}</td>
                                    <td>{{application.students}}명</td>
                                    <td>
                                        {{application.create_date}}
                                    </td>
                                    <td>
                                        {% if application.confirmed %}
                                            확정
                                        {% else %}
                                            미확정
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if application.confirmed == False %}
                                        <a href="{% url 'reservations:applicationUpdate' application.id%}" class="bt2">수정</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if application.canceled %}
                                            취소됨
                                        {% else %}
                                            {% if application.confirmed == False %}
                                                <a href="{% url 'reservations:applicationCancel' application.id%}" class="bt2">취소</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <div class="page-wrap">
                <a href="javascript:void(0);" onclick="javascript:page('1')" class="page-bt prev"><img src="/static/reservations/img/page-prev.png" alt="처음"></a>
                {% if page_obj.has_previous %}
                    <a href="javascript:void(0);" onclick="javascript:page('{{page_obj.previous_page_number}}')" class="page-bt prev"><img src="/static/reservations/img/page-prev.png" alt="이전"></a>
                {% endif %}

                {% for index in pagelist %}
                    {% if index == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{index}}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" onclick="javascript:page('{{index}}')">{{index}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="page-bt next"><img src="/static/reservations/img/page-next.png" alt="다음"></a>
                {% endif %}
                <a href="javascript:void(0);" onclick="javascript:page('{{num_pages}}')" class="page-bt next"><img src="/static/reservations/img/page-next.png" alt="마지막"></a>
            </div>
        </div>
    </div>    
{% endblock %}    