{% extends 'base.html' %}
{% block content %}
    
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>교육 신청내역</strong>
            </div>
        </div>
        <div class="layout-center">
            <div class="tbl-wrap scroll">
                <div>
                    
                    <form>
                        <p>
                            {{form.phone_number}}
                            <input type="button" value="검색" onclick="javascript:searchList(this);">
                        </p>
                        <table class="tbl1">
                            <thead>
                                <tr>
                                    <th>행사명</th>
                                    <th>기간</th>
                                    <th>신청인원</th>
                                    <th>운영일수</th>
                                    <th>확정 유/무</th>
                                    <th>신청취소</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in apply_list %}
                                <tr>
                                    <td>
                                        {{application.event.program.title}}
                                    </td>
                                    <td>
                                        {{application.event.start_date}}
                                        ~
                                        {{application.event.finish_date}}
                                    </td>
                                    <td>{{application.students}}명</td>
                                    <td>{{application.event.period}}</td>
                                    <td>미확정</td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="bt-wrap">
                <a href="#" onclick="javascript:alert('선택된 항목이 없습니다.');" class="bt1">신청 취소</a>
            </div>
        </div>
    </div>    
{% endblock %}    