{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'reservations/js/apply.js' %}"></script>
{% endblock %}
{% block content %}
    {% load static %}
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>교육 취소</strong>
            </div>
        </div>
        <div class="layout-center">
            <div class="form-style1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="box">
                        {% for field in form %}
                            <dl>
                                <dt>{{field.label}}</dt>
                                <dd>
                                    {{field}}
                                </dd>
                                {% if field.errors %}
                                <dd>
                                    {{field.errors}}
                                </dd>
                                {% endif %}
                            </dl> 
                        {% endfor %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="bt-wrap">
                        <input type="hidden" value="{{application.id}}" name="application_id"/>
                        <input type="submit" value="신청 취소" class="bt1 on" onclick="userConfirm('신청취소 하시겠습니까?')">
                        <a href="{% url 'reservations:applyList' %}" class="bt1">이전 페이지로 이동</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}