{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>교육 취소</strong>
            </div>
        </div>
        <div class="layout-center">
            <div class="form-style1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="box">

                        <dl>
                            <dt>교육명</dt>
                            <dd>
                                {{application.event.program.title}} 
                            </dd>
                        </dl>
                        <dl>
                            <dt>교육기간</dt>
                            <dd>
                                {{application.event.start_date}} 
                                ~
                                {{application.event.finish_date}}
                                 ({{application.event.period}}일)
                            </dd>
                        </dl>
                        <dl>
                            <dt>접수기간</dt>
                            <dd>
                                {{application.event.apply_start | date:'Y년-m월-d일'}} 
                                ~
                                {{application.event.deadline | date:'Y년-m월-d일'}}
                            </dd>
                        </dl>
                        {% for field in form %}
                            <dl>
                                <dt>{{field.label}}</dt>
                                <dd>
                                    {{field}}
                                </dd>
                                {% if field.errors %}
                                <dd>
                                    {{field.errors}}
                                </dd>
                                {% endif %}
                            </dl> 
                        {% endfor %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="bt-wrap">
                        <input type="hidden" value="{{application.id}}" name="application_id"/>
                        <input type="submit" value="취소신청" class="bt1 on">
                        <a href="{% url 'reservations:applyList' %}" class="bt1">뒤로가기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}