{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const labels = document.querySelectorAll('label');
            labels.forEach((label) => {
            const labelText = label.textContent;
            const modifiedText = labelText.replace(':', '');
                label.textContent = modifiedText;
            });
        });
    </script>
{% endblock %}
{% block content %}
{% load static %}
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>교육 취소</strong>
            </div>
        </div>
        <div class="layout-center">
            <div class="form-style1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="box">
                        <ul>
                            <li>
                                <label>교육명</label>
                                <p>{{event.program.title}} </p>
                            </li>
                            <li>
                                <label>교육기간</label>
                                <p>
                                    {{event.start_date}} 
                                    ~
                                    {{event.finish_date}}
                                    ({{event.period}}일)
                                </p>
                            </li>
                            <li>
                                <label>접수기간</label>
                                <p>
                                    {{event.apply_start | date:'Y년 m월 d일'}} 
                                    ~
                                    {{event.deadline | date:'Y년 m월 d일'}}
                                </p>
                            </li>
                            {{form.as_ul}}
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="bt-wrap">                        
                        <input type="submit" value="수정하기" class="bt1 on">
                        <a href="{% url 'reservations:applyList' %}" class="bt1">이전 페이지로 이동</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}