{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>교육 취소</strong>
            </div>
        </div>
        <div class="layout-center">
            <div class="form-style1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="box">

                        <dl>
                            <dt>교육명</dt>
                            <dd>
                                {{event.program.title}} 
                            </dd>
                        </dl>
                        <dl>
                            <dt>교육기간</dt>
                            <dd>
                                {{event.start_date}} 
                                ~
                                {{event.finish_date}}
                                 ({{event.period}}일)
                            </dd>
                        </dl>
                        <dl>
                            <dt>접수기간</dt>
                            <dd>
                                {{event.apply_start | date:'Y년-m월-d일'}} 
                                ~
                                {{event.deadline | date:'Y년-m월-d일'}}
                            </dd>
                        </dl>
                        
                        {{form.as_ul}}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="bt-wrap">                        
                        <input type="submit" value="수정하기" class="bt1 on">
                        <a href="{% url 'reservations:applyList' %}" class="bt1">뒤로가기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}