{% extends 'base.html' %}
{% block content %}
    <div id="containerWrap">
        <div class="title-style1">
            <div class="layout-center">
                <strong>회원가입</strong>
            </div>
        </div>
        <div class="layout-center">
            <!-- 회원가입 -->
            <div class="form-style1">
                <form method="post">
                    <div class="box">
                        {% csrf_token %}
                        
                        {{ form.as_ul }}
                    </div>
                    <div class="bt-wrap">
                        <input type="submit" value="회원가입" class="bt1 on">
                        <a href="{% url 'reservations:index' %}" class="bt1">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}