<html>
    <head>
    </head>
    <body>
        <ul class="nav justify-content-end">
            {% if user.is_active %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reservations:login' %}">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reservations:logout' %}">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reservations:login' %}"> Login</a>
            </li>
            {% endif %}
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>