html.noScroll {
    height: 100%;
    overflow-y: hidden;
}

.bt-wrap {
    margin-top: 30px;
    text-align: center;
}

.bt1 {
    display: inline-block;
    margin-left: 10px;
    padding: 12px 24px 14px 24px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 100px;
    line-height: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: #333 !important;
    cursor: pointer;
}

.bt1:first-child {
    margin-left: 0;
}

.bt1.on {
    background: #333;
    color: #fff !important;
}

.bt2 {
    display: inline-block;
    padding: 4px 5px 5px 5px;
    border: 1px solid #000;
    border-radius: 2px;
    line-height: 100%;
    font-size: 1.4rem;
}

.bt2.on {
    background: #333;
    color: #fff !important;
}

.bt2.mt-5 {
    margin-top: 5px;
}

.ipt1 {
    width: 100%;
    height: 40px;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    font-size: 1.6rem;
}

.ipt1.short {
    width: 50px;
    text-align: center;
}

.tbl-wrap {

}

.tbl1 {
    width: 100%;
    border-top: 1px solid #000;
}

.tbl1 thead  {
    border-bottom: 1px solid #ddd;
}

.tbl1 thead th {
    text-align: center;
    font-size: 1.4rem;
}

.tbl1 th,
.tbl1 td {
    padding: 15px;
    text-align: center;
    font-size: 1.4rem;
}

.tbl1 tbody tr {
    border-bottom: 1px solid #ddd;
}

.tbl1.type2 th {
    background: #f5f5f5;
}

.tbl1.type2 td {
    text-align: left;
}

@media ( max-width: 1000px ) {
    .ipt1 {
        font-size: 1.4rem;
    }

    .ipt1.short {
        width: 40px;
    }

    .tbl-wrap {
        width: calc(100% - 40px);
        margin: 20px auto;
    }

    .tbl-wrap.scroll {
        width: calc(100% - 20px);
        margin-left: 20px;
        margin-right: 0;
        overflow-x: auto;
    }

    .tbl-wrap.scroll {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .tbl-wrap.scroll::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    .tbl-wrap.scroll > div {
        width: 600px;
        margin-right: 20px;
    }

    .tbl1 thead th {
        font-size: 1.2rem;
    }

    .tbl1 th,
    .tbl1 td {
        padding: 10px;
        font-size: 1.2rem;
    }

    .bt-wrap {
        margin: 20px 0;
    }
}

.select1 {
    padding: 10px 25px 10px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: url(../img/select1-arrow.png) no-repeat calc(100% - 8px) 50% /10px;
    font-size: 1.4rem;
}

.select2 {
    padding-right: 20px;
    vertical-align: middle;
    background: url(../img/select2-arrow.png) no-repeat 100% 50% /12px;
    text-align: right;
    font-size: 3rem;
}

.select2 + span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 2rem;
}

.title-box {
    margin-top: 30px;
    margin-bottom: 10px;
}

.title-box.mt-0 {
    margin-top: 0;
}

.title-box strong {
    font-size: 2rem;
    font-weight: 500;
}